{% load static %}
<!doctype html>
<html class="no-js" lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block 'titulo' %} {% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">

        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/ie7.css' %}">
        <link rel="stylesheet" href="{% static 'css/plugins.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'js/vendor/modernizr-3.5.0.min.js' %}">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">

        {% block extra_head %}
        {% endblock %}

    </head>
    <body>

         <!-- Header Area Start -->
        <header class="header-area header-sticky">
            <div class="header-container">
                <div class="row">
                    <div class="col-lg-2 col-sm-6">
                        <div class="logo text-center">
                            <a href="{% url 'index' %}"><img src="/imagens/logo.png" alt="iLibrary"></a>
                        </div>
                    </div>
                    <div class="col-lg-6 offset-lg-2 display-none-md display-none-xs">
                        <div class="ht-main-menu">
                            <nav>
                                <ul>
                                    <li {% if request.path == '/' %}class="active"{% endif %}><a href="{% url 'index' %}">Home</a></li>
                                    <li {% if request.path == '/autores/' %}class="active"{% endif %}><a href="{% url 'autores' %}">Autores</a></li>
                                    <li {% if request.path == '/categorias/' %}class="active"{% endif %}><a href="{% url 'categorias' %}">Categorias</a></li>
                                    <li {% if request.path == '/editoras/' %}class="active"{% endif %}><a href="{% url 'editoras' %}">Editoras</a></li>
                                    <li {% if request.path == '/livros/' %}class="active"{% endif %}><a href="{% url 'livros' %}">Livros</a></li>
                                    <li {% if request.path == '/contato/' %}class="active"{% endif %}><a href="{% url 'contato' %}">Contato</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-6">
                        <div class="header-content d-flex justify-content-end">
                            <div class="search-wrapper">
                                <a href="#"><span class="icon icon-Search"></span></a>
                                <form action="/busca/" method="GET" class="search-form">
                                    <input type="text" name="busca" minlength="5" placeholder="Pesquisar por Livro, Autor, Editora">
                                    <button type="submit">Pesquisar</button>
                                </form>
                            </div>
                            <div class="settings-wrapper">
                                <a href="#"><i class="icon icon-Settings"></i></a>
                                <div class="settings-content">
                                    <h4>Administração</h4>
                                    <ul>
                                        <li><a href="/admin">Acessar</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header Area End -->
            <!-- Mobile Menu Area Start -->
            <div class="mobile-menu-area">
                <div class="mobile-menu container">
                    <nav id="mobile-menu-active">
                        <ul class="menu-overflow">
                            <li><a href="{% url 'index' %}">Home</a></li>
                            <li><a href="{% url 'autores' %}">Autores</a></li>
                            <li><a href="{% url 'categorias' %}">Categorias</a></li>
                            <li><a href="{% url 'editoras' %}">Editoras</a></li>
                            <li><a href="{% url 'livros' %}">Livros</a></li>
                            <li><a href="{% url 'contato' %}">Contato</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- Mobile Menu Area End -->
        </header>
        <!-- Header Area End -->

        {% block 'conteudo' %} {% endblock %}

        <!-- Footer Area Start -->
        <footer class="footer-area">
            <!-- Footer Bottom Area Start -->
            <div class="footer-bottom-area pt-15 pb-30">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="footer-text-bottom text-center">
                                <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> <a href="#">iLibrary - Projeto Integrador da Faculdade Univesp/SP</a>. Todos os direitos Reservados</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Bottom Area End -->
        </footer>
        <!-- Footer Area End -->

        <!-- JS -->
        <script src="{% static 'js/vendor/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/plugins.js' %}"></script>
        <script src="{% static 'js/ajax-mail.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>