{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="iLibrary - Software para controle de Locações em Bibliotecas">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap4/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main_styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    <title>{% block 'titulo' %} {% endblock %}</title>
    
    {% block extra_head %}
    {% endblock %}

</head>
<body>
    <header class="header">
        <div class="top_bar bg-light">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="header_container bg-light">
                        <div class="header_content d-flex flex-row align-items-center justify-content-start">
                            <a class="navbar-brand logo_container mr-auto " href="{% url 'index' %}">
                                <div class="logo_text">iLibrary</div>
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item active"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'autores' %}">Autores</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'categorias' %}">Categorias</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'editoras' %}">Editoras</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'livros' %}">Livros</a></li>
                                    <li class="nav-item"><a class="nav-link" href="{% url 'contato' %}">Contato</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>

{% block 'conteudo' %} {% endblock %}

<footer class="footer">
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="text-center mt-3 mb-3">
                        <div class="cr">
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> Trabalho do Projeto Integrador - Univesp
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap4/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap4/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/OwlCarousel2-2.2.1/owl.carousel.js' %}"></script>
    <script src="{% static 'plugins/easing/easing.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>

</body>
</html>