{% extends 'base.html' %}

{% block 'titulo' %} iLibrary - Gestão de Bibliotecas {% endblock %}

{% block 'conteudo' %}  
    <!-- Conteudo - Inicio -->
        <div class="breadcrumb-area text-center">
            <div class="container">
                <h2>Nossa Equipe</h2>
            </div>
        </div>
    <!-- Conteudo - Fim -->

        <!-- Alunos -->
        <div class="testimonial-area pt-5 pb-5">
            <div class="container">
                <div class="testimonial-slider-wrapper">
                    <div class="text-carousel text-center">
                        <div class="slider-text">
                            <span class="testi-quote">
                                <img src="/imagens/icones/quote.webp" alt="">
                            </span>
                            <p>Estudante de Bacharel em TI pela Univesp<br>
                            Trabalha há 23 anos na área de TI e a 15 como programador em linguagens antigas como ASP.<br>
                                Estudando C# como linguagem para o futuro.</p>
                        </div>
                        <div class="slider-text">
                            <span class="testi-quote">
                                <img src="/imagens/icones/quote.webp" alt="">
                            </span>
                            <p>Estudante de Bacharel em TI pela Univesp<br>
                            Trabalha há 23 anos na área de TI e a 15 como programador em linguagens antigas como ASP.<br>
                                Estudando C# como linguagem para o futuro.</p>
                        </div>
                        <div class="slider-text">
                            <span class="testi-quote">
                                <img src="/imagens/icones/quote.webp" alt="">
                            </span>
                            <p>Estudante de Bacharel em TI pela Univesp<br>
                            Trabalha há 23 anos na área de TI e a 15 como programador em linguagens antigas como ASP.<br>
                                Estudando C# como linguagem para o futuro.</p>
                        </div>
                        <div class="slider-text">
                            <span class="testi-quote">
                                <img src="/imagens/icones/quote.webp" alt="">
                            </span>
                            <p>Estudante de Bacharel em TI pela Univesp<br>
                            Trabalha há 23 anos na área de TI e a 15 como programador em linguagens antigas como ASP.<br>
                                Estudando C# como linguagem para o futuro.</p>
                        </div>
                        <div class="slider-text">
                            <span class="testi-quote">
                                <img src="/imagens/icones/quote.webp" alt="">
                            </span>
                            <p>Estudante de Bacharel em TI pela Univesp<br>
                            Trabalha há 23 anos na área de TI e a 15 como programador em linguagens antigas como ASP.<br>
                                Estudando C# como linguagem para o futuro.</p>
                        </div>
                        <div class="slider-text">
                            <span class="testi-quote">
                                <img src="/imagens/icones/quote.webp" alt="">
                            </span>
                            <p>Estudante de Bacharel em TI pela Univesp<br>
                            Trabalha há 23 anos na área de TI e a 15 como programador em linguagens antigas como ASP.<br>
                                Estudando C# como linguagem para o futuro.</p>
                        </div>
                    </div>
                    <div class="image-carousel">
                        <div class="testi-img">
                            <img src="/imagens/alunos/FabricioGomes.jpg" alt="Fabricio Gomes">
                            <h4>Fabricio Gomes<br>2101090</h4>
                        </div>
                        <div class="testi-img">
                            <img src="/imagens/alunos/LuanAlmeida.jpg" alt="Luan Almeida">
                            <h4>Luan Almeida<br>2106647</h4>
                        </div>
                        <div class="testi-img">
                            <img src="/imagens/alunos/FabricioGomes.jpg" alt="">
                            <h4>Fabricio Gomes 2101090</h4>
                        </div>
                        <div class="testi-img">
                            <img src="/imagens/alunos/FabricioGomes.jpg" alt="">
                            <h4>Fabricio Gomes 2101090</h4>
                        </div>
                        <div class="testi-img">
                            <img src="/imagens/alunos/FabricioGomes.jpg" alt="">
                            <h4>Fabricio Gomes 2101090</h4>
                        </div>
                        <div class="testi-img">
                            <img src="/imagens/alunos/FabricioGomes.jpg" alt="">
                            <h4>Fabricio Gomes 2101090</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fim Alunos -->

{% endblock %}
