{% extends 'base.html' %}

{% block 'titulo' %} iLibrary - Gestão de Bibliotecas {% endblock %}

{% block 'conteudo' %}  
    <!-- Conteudo - Inicio -->
        <div class="breadcrumb-area text-center">
            <div class="container">
                <h2>Nossa Equipe</h2>
            </div>
        </div>
    <!-- Conteudo - Fim -->

        <!-- Alunos -->
        <div class="testimonial-area pt-5 pb-5">
            <div class="container">
                <div class="testimonial-slider-wrapper">
                    <div class="text-carousel text-center">
                        <div class="slider-text">
                            <span class="testi-quote">
                                <img src="/imagens/icones/quote.webp" alt="">
                            </span>
                            <!-- Fabricio Gomes -->
                            <p>Estudante de Bacharelado em Tecnologia da Informação na Univesp.<br>23 anos de experiência em TI, trabalhando como programador em ASP há mais de 15 anos.<br>Para esse projeto tive a oportunidade de aprender a linguagem Python (Framework Django) para o PI da Univesp.<br>Me dedicando ao estudo da linguagem C# para me manter atualizado e contribuir com projetos modernos na área de TI.</p>
                        </div>
                        <div class="slider-text">
                            <span class="testi-quote">
                                <img src="/imagens/icones/quote.webp" alt="">
                            </span>
                            <!-- Luan Almeida -->
                            <p>Estudante de tecnologia da informação na Univesp. <br>Apaixonado por tecnologia, em busca de conhecimentos e a procura da primeira oportunidade na área.<br>Conhecimentos em HTML, CSS, JAVASCRIPT, PYTHON e DJANGO</p>
                        </div>
                        <div class="slider-text">
                            <span class="testi-quote">
                                <img src="/imagens/icones/quote.webp" alt="">
                            </span>
                            <!-- 3 -->
                            <p>Texto do Aluno</p>
                        </div>
                        <div class="slider-text">
                            <span class="testi-quote">
                                <img src="/imagens/icones/quote.webp" alt="">
                            </span>
                            <!-- 4 -->
                            <p>Texto do Aluno</p>
                        </div>
                        <div class="slider-text">
                            <span class="testi-quote">
                                <img src="/imagens/icones/quote.webp" alt="">
                            </span>
                            <p>Formado em biologia, estudante de Tecnologia da Informação e Professor do Estado de São Paulo desde 2014.</p>
                        </div>
                        <div class="slider-text">
                            <span class="testi-quote">
                                <img src="/imagens/icones/quote.webp" alt="">
                            </span>
                            <p>Estudante de Bacharel em Tecnologia da Informação pela Univesp. É professor de matemática, com 12 anos de atuação. Entrou para a programação em busca de novos desafios.</p>
                        </div>
                    </div>
                    <div class="image-carousel">
                        <div class="testi-img">
                            <img src="/imagens/alunos/FabricioGomes.jpg" alt="Fabricio Gomes">
                            <h4>Fabricio Gomes<br>2101090</h4>
                        </div>
                        <div class="testi-img">
                            <img src="/imagens/alunos/LuanAlmeida.jpg" alt="Luan Almeida">
                            <h4>Luan Almeida<br>2106647</h4>
                        </div>
                        <div class="testi-img">
                            <img src="/imagens/alunos/FabricioGomes.jpg" alt="">
                            <!-- 3 -->
                            <h4>Fabricio Gomes 2101090</h4>
                        </div>
                        <div class="testi-img">
                            <img src="/imagens/alunos/NicolasGiovannetti.jpg" alt="">
                            <!-- 4 -->
                            <h4>Nicholas Giovannetti 2104363</h4>
                        </div>
                        <div class="testi-img">
                            <img src="/imagens/alunos/VictorEsteves.jpg" alt="">
                            <h4>Victor Esteves 2103450</h4>
                        </div>
                        <div class="testi-img">
                            <img src="/imagens/alunos/RafaelPrado.jpg" alt="">
                            <h4>Rafael Prado 2102691</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fim Alunos -->

{% endblock %}
