{% extends 'base.html' %}

{% block 'titulo' %} iLibrary - Gestão de Bibliotecas {% endblock %}

{% block 'conteudo' %}  
    <!-- Conteudo - Inicio -->
        <div class="breadcrumb-area text-center">
            <div class="container">
                <h2>Livros em Destaque</h2>
            </div>
        </div>
    <!-- Conteudo - Fim -->
    <!-- Shop Area Start -->
        <div class="shop-area pt-30 pb-20 bg-gray mb-15 shop-full-width">
            <div class="container">
                <div class="ht-product-tab">
                    <div class="ht-tab-content">
                        <div class="nav" role="tablist">
                            <a class="active grid" href="#grid" data-bs-toggle="tab" role="tab" aria-selected="true" aria-controls="grid"><i class="fa fa-th"></i></a>
                            <a class="list" href="#list" data-bs-toggle="tab" role="tab" aria-selected="false" aria-controls="list"><i class="fa fa-list"></i></a>
                        </div>
                        <div class="shop-items">
                            <span>Mostrando {{ page_obj.start_index }} a {{ page_obj.end_index }} de {{ page_obj.paginator.count }} ({{ page_obj.paginator.num_pages }} Páginas) </span>
                        </div>
                    </div>
                    {% if is_paginated %}
                                <div class="pagination-upper">
                                    <nav aria-label="navigation">
                                        <ul class="pagination">
                                            {% if page_obj.has_previous %}
                                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                                            {% else %}
                                                <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
                                            {% endif %}

                                            {% for num in paginator.page_range %}
                                                {% if page_obj.number == num %}
                                                    <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                                                {% else %}
                                                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                                {% endif %}
                                            {% endfor %}

                                            {% if page_obj.has_next %}
                                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                                            {% else %}
                                                <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
                                            {% endif %}

                                        </ul>
                                    </nav>
                                </div>
                            {% endif %}

                </div>
                <div class="ht-product-shop tab-content text-center">
                    <div class="tab-pane active show fade" id="grid" role="tabpanel">
                        <div class="row">
                            {% for livro in page_obj %}
                            <div class="col-lg-2 col-md-4 col-sm-6">
                                <div class="single-product-item">
                                    <div class="product-image">
                                        <a href="{{ livro.imagem.url }}" data-bs-toggle="modal"  data-bs-target="#productModal{{ livro.id }}">
                                            <img src="{{ livro.imagem.url }}" alt="" class="img-fluid">
                                        </a>
                                        <div class="product-hover">
                                            <ul class="hover-icon-list">
                                                <li><a href="{{ livro.imagem.url }}" data-bs-toggle="modal"  data-bs-target="#productModal{{ livro.id }}"><i class="icon icon-Search"></i></a></li>
                                            </ul>

                                        </div>
                                    </div>
                                    <div class="product-text">
                                        <div class="product-rating">
                                            <i class="fa fa-star-o color"></i>
                                            <i class="fa fa-star-o color"></i>
                                            <i class="fa fa-star-o color"></i>
                                            <i class="fa fa-star-o color"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                        <h5><a href="{{ livro.imagem.url }}" data-bs-toggle="modal"  data-bs-target="#productModal{{ livro.id }}">{{ livro.titulo }}</a></h5>
                                        <h6><a href="{{ livro.imagem.url }}" data-bs-toggle="modal"  data-bs-target="#productModal{{ livro.id }}">{{ livro.autor }}</a></h6>
                                        <h6>Disponível: {{ livro.qtd_disponivel }}</h6>
                                    </div>
                                </div>
                            </div>


                            <!-- MODAL LIVROS -->
                                <div class="modal fade productModal" id="productModal{{ livro.id }}" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
                                            <div class="quick-view-container">
                                                <div class="column-left">
                                                    <div class="single-product-img">
                                                        <img src="{{ livro.imagem.url }}" alt="" class="img-fluid">
                                                    </div>
                                                </div>
                                                <div class="column-right text-start">
                                                    <div class="quick-view-text">
                                                        <h2>{{ livro.titulo }}</h2>
                                                        {% if livro.qtd_disponivel > 0 %}
                                                            <h3 class="q-product-price text-success">Disponivel: {{ livro.qtd_disponivel }}</h3>
                                                        {% else %}
                                                            <h3 class="q-product-price text-danger">Disponivel: {{ livro.qtd_disponivel }}</h3>
                                                        {% endif %}
                                                        <p>{{ livro.descricao }}</p>
                                                        <div class="input-cart">
                                                            {% if livro.qtd_disponivel > 0 %}
                                                                    <input value="1" type="number" readonly>
                                                                <button class="default-btn">Reservar</button>
                                                            {% else %}
                                                                    <input value="0" type="number" readonly>
                                                                <button class="default-btn disabled">Reservar</button>
                                                            {% endif %}
                                                        </div>
                                                        <div class="share-product">
                                                            <h4>Compartilhe este livro:</h4>
                                                            <div class="social-link">
                                                                <a href="#" class="facebook">
                                                                    <i class="fa fa-facebook"></i>
                                                                </a>
                                                                <a href="#" class="twitter">
                                                                    <i class="fa fa-twitter"></i>
                                                                </a>
                                                                <a href="#" class="pinterest">
                                                                    <i class="fa fa-pinterest"></i>
                                                                </a>
                                                                <a href="#" class="google">
                                                                    <i class="fa fa-google-plus"></i>
                                                                </a>
                                                                <a href="#" class="linkedin">
                                                                    <i class="fa fa-linkedin"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <!-- END MODAL LIVROS -->


                            {% endfor %}
                        </div>
                    </div>

                    <div class="tab-pane fade text-start" id="list" role="tabpanel">
                        {% for livro in page_obj %}
                            <div class="single-product-item">
                                <div class="product-image">
                                    <a href="#productModal{{ livro.id }}">
                                        <img src="{{ livro.imagem.url }}" alt="">
                                    </a>
                                    <div class="product-hover">
                                        <ul class="hover-icon-list">
                                            <li><a href="{{ livro.imagem.url }}" data-bs-toggle="modal" data-bs-target="#productModal{{ livro.id }}"><i class="icon icon-Search"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-text">
                                    <h5><a href="{{ livro.imagem.url }}" data-bs-toggle="modal" data-bs-target="#productModal{{ livro.id }}">{{ livro.titulo }}</a></h5>
                                    <h6><a href="{{ livro.imagem.url }}" data-bs-toggle="modal" data-bs-target="#productModal{{ livro.id }}">{{ livro.autor }}</a></h6>
                                    <div class="product-rating">
                                        <i class="fa fa-star-o color"></i>
                                        <i class="fa fa-star-o color"></i>
                                        <i class="fa fa-star-o color"></i>
                                        <i class="fa fa-star-o color"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <div class="pro-price">
                                        <span class="new-price">Disponível: {{ livro.qtd_disponivel }}</span>
                                    </div>
                                    <p>{{ livro.descricao }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                {% if is_paginated %}
                    <div class="pagination-wrapper">
                        <nav aria-label="navigation">
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                                {% else %}
                                    <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
                                {% endif %}

                                {% for num in paginator.page_range %}
                                    {% if page_obj.number == num %}
                                        <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                    {% endif %}
                                {% endfor %}

                                {% if page_obj.has_next %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                                {% else %}
                                    <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
                                {% endif %}

                            </ul>
                        </nav>
                    </div>
                {% endif %}

            </div>
        </div>
        <!-- Shop Area End -->


        <!-- Testimonial Area Start -->
        <div class="testimonial-area pt-110 pb-95">
            <div class="container">
                <div class="testimonial-slider-wrapper">
                    <div class="text-carousel text-center">
                        <div class="slider-text">
                            <span class="testi-quote">
                                <img src="imagens/icones/quote.webp" alt="">
                            </span>
                            <p>Estudante de Bacharel em TI pela Univesp<br>
                            Trabalha há 23 anos na área de TI e a 15 como programador em linguagens antigas como ASP.<br>
                                Estudando C# como linguagem para o futuro.</p>
                        </div>
                        <div class="slider-text">
                            <span class="testi-quote">
                                <img src="imagens/icones/quote.webp" alt="">
                            </span>
                            <p>Estudante de Bacharel em TI pela Univesp<br>
                            Trabalha há 23 anos na área de TI e a 15 como programador em linguagens antigas como ASP.<br>
                                Estudando C# como linguagem para o futuro.</p>
                        </div>
                        <div class="slider-text">
                            <span class="testi-quote">
                                <img src="imagens/icones/quote.webp" alt="">
                            </span>
                            <p>Estudante de Bacharel em TI pela Univesp<br>
                            Trabalha há 23 anos na área de TI e a 15 como programador em linguagens antigas como ASP.<br>
                                Estudando C# como linguagem para o futuro.</p>
                        </div>
                        <div class="slider-text">
                            <span class="testi-quote">
                                <img src="imagens/icones/quote.webp" alt="">
                            </span>
                            <p>Estudante de Bacharel em TI pela Univesp<br>
                            Trabalha há 23 anos na área de TI e a 15 como programador em linguagens antigas como ASP.<br>
                                Estudando C# como linguagem para o futuro.</p>
                        </div>
                        <div class="slider-text">
                            <span class="testi-quote">
                                <img src="imagens/icones/quote.webp" alt="">
                            </span>
                            <p>Estudante de Bacharel em TI pela Univesp<br>
                            Trabalha há 23 anos na área de TI e a 15 como programador em linguagens antigas como ASP.<br>
                                Estudando C# como linguagem para o futuro.</p>
                        </div>
                        <div class="slider-text">
                            <span class="testi-quote">
                                <img src="imagens/icones/quote.webp" alt="">
                            </span>
                            <p>Estudante de Bacharel em TI pela Univesp<br>
                            Trabalha há 23 anos na área de TI e a 15 como programador em linguagens antigas como ASP.<br>
                                Estudando C# como linguagem para o futuro.</p>
                        </div>
                    </div>
                    <div class="image-carousel">
                        <div class="testi-img">
                            <img src="imagens/alunos/FabricioGomes.jpg" alt="">
                            <h4>Fabricio Gomes 2101090</h4>
                        </div>
                        <div class="testi-img">
                            <img src="imagens/alunos/FabricioGomes.jpg" alt="">
                            <h4>Fabricio Gomes 2101090</h4>
                        </div>
                        <div class="testi-img">
                            <img src="imagens/alunos/FabricioGomes.jpg" alt="">
                            <h4>Fabricio Gomes 2101090</h4>
                        </div>
                        <div class="testi-img">
                            <img src="imagens/alunos/FabricioGomes.jpg" alt="">
                            <h4>Fabricio Gomes 2101090</h4>
                        </div>
                        <div class="testi-img">
                            <img src="imagens/alunos/FabricioGomes.jpg" alt="">
                            <h4>Fabricio Gomes 2101090</h4>
                        </div>
                        <div class="testi-img">
                            <img src="imagens/alunos/FabricioGomes.jpg" alt="">
                            <h4>Fabricio Gomes 2101090</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial Area End -->

{% endblock %}
