{% extends 'base.html' %}

{% block 'titulo' %} iLibrary - Gestão de Bibliotecas {% endblock %}

{% block 'conteudo' %}  
        <div class="courses">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h3 class="section_title text-center">Livros em Destaque</h3>
                    </div>
                </div>
                <div class="row courses_row">
                    <div class="col-lg-2 course_col">
                            <div class="course">
                                <div class="course_image">
                                    <img src="/static/img/livros/cristianismo_puro_e_simples.jpg" alt="Livro">
                                </div>
                                <div class="course_body">
                                    <div class="course_title">
                                        <a href="course.html">Cristianismo Puro e Simples</a>
                                    </div>
                                    <div class="course_info">
                                        <a href="autor.html">C.S. Lewis</a>
                                        <p>Disponíveis: 1</p>
                                    </div>
                                </div>
                                <div class="course_footer pt-2 mb-1 text-center">
                                    <a href="livros/1" class="btn btn-outline-primary">+ Detalhes</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 course_col">
                            <div class="course">
                                <div class="course_image">
                                    <img src="/static/img/livros/igreja_centrada.jpg" alt="Livro">
                                </div>
                                <div class="course_body">
                                    <div class="course_title">
                                        <a href="course.html">Igreja Centrada</a>
                                    </div>
                                    <div class="course_info">
                                        <a href="autor.html">Timothy Keller</a>
                                        <p>Disponíveis: 1</p>
                                    </div>
                                </div>
                                <div class="course_footer pt-2 mb-1 text-center">
                                    <a href="livros/1" class="btn btn-outline-primary">+ Detalhes</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 course_col">
                            <div class="course">
                                <div class="course_image">
                                    <img src="/static/img/livros/A_culpa_e_das_estrelas.jpg" alt="Livro">
                                </div>
                                <div class="course_body">
                                    <div class="course_title">
                                        <a href="course.html">A culpa é das estrelas</a>
                                    </div>
                                    <div class="course_info">
                                        <a href="autor.html">John Green</a>
                                        <p>Disponíveis: 2</p>
                                    </div>
                                </div>
                                <div class="course_footer pt-2 mb-1 text-center">
                                    <a href="livros/1" class="btn btn-outline-primary">+ Detalhes</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 course_col">
                            <div class="course">
                                <div class="course_image">
                                    <img src="/static/img/livros/1984.jpg" alt="Livro">
                                </div>
                                <div class="course_body">
                                    <div class="course_title">
                                        <a href="course.html">1984</a>
                                    </div>
                                    <div class="course_info">
                                        <a href="autor.html">George Orwell</a>
                                        <p>Disponíveis: 1</p>
                                    </div>
                                </div>
                                <div class="course_footer pt-2 mb-1 text-center">
                                    <a href="livros/1" class="btn btn-outline-primary">+ Detalhes</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 course_col">
                            <div class="course">
                                <div class="course_image">
                                    <img src="/static/img/livros/Cristo_em_Voce.jpg" alt="Livro">
                                </div>
                                <div class="course_body">
                                    <div class="course_title">
                                        <a href="course.html">Cristo em Você</a>
                                    </div>
                                    <div class="course_info">
                                        <a href="autor.html">C.H. Spurgeon</a>
                                        <p>Disponíveis: 3</p>
                                    </div>
                                </div>
                                <div class="course_footer pt-2 mb-1 text-center">
                                    <a href="livros/1" class="btn btn-outline-primary">+ Detalhes</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 course_col">
                            <div class="course">
                                <div class="course_image">
                                    <img src="/static/img/livros/E_assim_que_acaba.jpg" alt="Livro">
                                </div>
                                <div class="course_body">
                                    <div class="course_title">
                                        <a href="course.html">É assim que acaba</a>
                                    </div>
                                    <div class="course_info">
                                        <a href="autor.html">Colleen Hoover</a>
                                        <p>Disponíveis: 1</p>
                                    </div>
                                </div>
                                <div class="course_footer pt-2 mb-1 text-center">
                                    <a href="livros/1" class="btn btn-outline-primary">+ Detalhes</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}